/* google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;800&display=swap');

/* layout */
:root {
  --primary: #437df2;
  --error: #e7195a;
  --success: #0ef572;
}
body {
  background: #2d2b2b;
  margin: 0;
  font-family: "Nunito";
}
header {
  background: #1c1c1c;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #ded9d9;
  text-decoration: none;
}
header a:hover {
  color: #ffffff;
  text-decoration: none;
}
header span {
  color: #ded9d9;
  text-decoration: none;
  font-size: 16px;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.attendees-details {
  background: #21201E;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.05);
}
.attendees-details h4 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.attendees-details p {
  margin: 0;
  font-size: 0.9em;
  color: #cad4e2;
}
.attendees-details span {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: #1f1d1d;
  padding: 6px;
  border-radius: 50%;
  color: #f6f0f0;
}

.attendees-details span:hover {
  background: #f6f0f0;
  color: #1f1d1d;
}

/* new attendee form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #1c1c1c;
  width: 100%;
  border: 1px solid #5a5757;
  border-radius: 4px;
  box-sizing: border-box;
}
input, select, textarea{
  color: #ece2e2;
}

form button {
  background: #21201E;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  font-family: "Nunito";
  border-radius: 4px;
  border: 1px solid #ded9d9;
  cursor: pointer;
  margin-bottom: 15px;
}

.create {
  color: #ded9d9;
}

form button:hover {
  background-color: #f6f0f0;
  color: #1c1c1c;
}

div.error {
  padding: 10px;
  background: #1c1c1c;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
div.success {
  padding: 10px;
  background: #1c1c1c;
  border: 1px solid var(--success);
  color: var(--success);
  border-radius: 4px;
  margin: 20px 0;
}

div.success a {
  color: var(--success);
  text-decoration: none;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a, nav button {
  margin-left: 20px;
}
nav button {
  background: #1c1c1c;
  color: #568af3;
  border: 2px solid #568af3;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Nunito";
  cursor: pointer;
  font-size: 1em;
}

nav button:hover {
  color: #e7195a;
  border-color: #e7195a;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #21201E;
  border-radius: 4px;
}
form.signup h3 , form.login h3 {
  color: #ded9d9;
}
form.signup label , form.login label {
  color: #ded9d9;
}
form.signup button , form.login button {
  color: #ded9d9;
  background-color: #1c1c1c;
}

form.signup button:hover, form.login button:hover {
  background-color: #ece2e2;
  color: #1c1c1c;
}
